@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400&family=Mochiy+Pop+One&family=Poppins:ital,wght@0,100;1,100;1,300&family=Source+Sans+Pro:wght@400;600&display=swap');

/*
font-family: 'Dosis', sans-serif;
font-family: 'Mochiy Pop One', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
*/

/*Não encontrei a melhor fonte */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: gray;
}

header{
  position: relative;
  display: flex;
  height: 60px;
  background-color: white;
  align-items: center;

}

.logo{
  position: relative;
  height: 24px;
  display: inline-block;
  background-color: white;
  left: 30px;
}

.logo-pic {
  height:24px;
  width: 44px;
}

nav{
  display: flex;
  flex: 50%;
  align-items: center;
  justify-content: space-between;
  margin-left: 3%;
}

ul {
  display: flex;
  flex-direction: row;
}

ul li {
  display: flex;
  margin: 10px;
}

ul li a{
  text-decoration: none;
  color: black;
  font-family: 'Dosis', sans-serif;
  font-weight: 600;

}

.sublinks1, .sublinks2, .sublinks3 {
  display: none;
}

.para-voce:hover .sublinks1{
  display: block;
}

.up {
  height: 10px;
  margin-left: 10px;
  transform: rotate(90deg);
}

li:hover a img {
  animation-name: up;
  animation-duration:.25s ;
  transform: rotate(270deg);
  transition: .25s;
}

@keyframes up{
  from{ transform: rotate(90deg);}
  to {transform: rotate(270deg);}
}

li:not(:hover) a img {
  animation-name: down;
  animation-duration:.25s ;
}

@keyframes down{
  from{ transform: rotate(270deg);}
  to {transform: rotate(90deg);}
}

.login-pic {
  height:24px;
  width: 44px;
  transform: rotate(180deg);
}

.entrar  {
  position: absolute;
  display: flex;
  align-items: center;
  right:30px;
}

.entrar a {
  display: flex;
  text-decoration: none;
  color: #7c45d6;
  font-weight: bold;
  align-items: center;
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
  
}